<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

	<head th:replace="~{fragments/header}"></head>

	<head th:replace="~{fragments/menu}"></head>

	<main class="main-wrapper">
		<div class="main-content">
			<!--breadcrumb-->
			<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
				<div class="breadcrumb-title pe-3">Product</div>
				<div class="ps-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
							<li class="breadcrumb-item active" aria-current="page">Edit Product</li>
						</ol>
					</nav>
				</div>
			</div>
			<!--end breadcrumb-->

			<div class="row">
				<div class="col-12 col-lg-12">
					<div class="card">
						<div class="card-body p-4">
							<!-- Message Section -->
							<div th:if="${message}" class="alert alert-success" role="alert">
								<p th:text="${message}"></p>
							</div>

							<form class="row g-3" th:action="@{/updateProduct}" method="post">
								<h5 class="mb-4">Edit Product Form</h5>


								<input type="hidden" class="form-control" id="input36" placeholder="Enter .." name="uid"
									required autocomplete="off" th:value="${product.uid}">
								<input type="hidden" class="form-control" id="input36" placeholder="Enter .." name="id"
									th:value="${product.id}" required autocomplete="off">
								<input type="hidden" class="form-control" id="input36" placeholder="Enter .."
									name="productId" th:value="${product.productId}" required autocomplete="off">


								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Product Type
									</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input36" placeholder="Enter .."
											name="productType" th:value="${product.productType}" required
											autocomplete="off">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input39" class="col-sm-3 col-form-label">Loan Type</label>
									<div class="col-sm-9">
										<select class="form-select" id="input40" name="loanType" required>
											<option disabled value="">Select</option>
											<option value="Personal_Loan"
												th:selected="${product.loanType == 'Personal_Loan'}">Personal Loan
											</option>
											<option value="Business_Loan"
												th:selected="${product.loanType == 'Business_Loan'}">Business Loan
											</option>
											<option value="Early_Salary"
												th:selected="${product.loanType == 'Early_Salary'}">Early Salary
											</option>
										</select>



									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Scheme Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="schemeName" th:value="${product.schemeName}" required>
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Scheme Id</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="schemeId" th:value="${product.schemeId}" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Lead Source Id</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.leadSourceId}" class="form-control"
											id="input39" placeholder="Enter..." name="leadSourceId" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Disbursement Model</label>
									<div class="col-sm-9">

										<select class="form-select" id="input40" name="disbursementModel" required>
											<option disabled value="">Select</option>
											<option value="Direct"
												th:selected="${product.disbursementModel == 'Direct'}">Direct</option>
											<option value="Escrow"
												th:selected="${product.disbursementModel == 'Escrow'}">Escrow</option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Partnership Type</label>
									<div class="col-sm-9">
										<select class="form-select" id="input40" name="partnershipType" required>
											<option selected disabled value="">Select</option>

											<option value="Co-Lending"
												th:selected="${product.partnershipType == 'Co-Lending'}">Co-Lending
											</option>

											<option value="BC_Partnership"
												th:selected="${product.partnershipType == 'BC_Partnership'}">BC
												Partnership</option>


										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Partnership Ratio</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:value="${product.partnershipRatio}"
											id="input39" placeholder="Enter..." name="partnershipRatio" required>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Contracted IRR</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="contractedIrr" th:value="${product.contractedIrr}" required>
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Interest Type</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="interestType" th:value="${product.interestType}" required>
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Partnership Start Date</label>
									<div class="col-sm-9">
										<input type="date" class="form-control" id="input35" name="partnershipStartDate"
											th:value="${product.partnershipStartDate}" required>

									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Partnership End Date</label>
									<div class="col-sm-9">
										<input type="date" class="form-control" id="input35"
											placeholder="Enter Permission" name="partnershipEndDate"
											th:value="${product.partnershipEndDate}" required>
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Partnership Disbursement Limit
										(Total)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="partnershipDisbursementLimit"
											th:value="${product.partnershipDisbursementLimit}" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Monthly Disbursement
										Limit</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="monthlyDisbursementLimit"
											th:value="${product.monthlyDisbursementLimit}" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Loan Agreement prefix</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="input39" placeholder="Enter..."
											name="loanAgreementPrefix" th:value="${product.loanAgreementPrefix}"
											required minlength="3" maxlength="4">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">EMI Frequency</label>
									<div class="col-sm-9">

										<select class="form-select" id="input40" name="emiFrequency" required>
											<option disabled value="">Select</option>
											<option value="Monthly" th:selected="${product.emiFrequency == 'Monthly'}">
												Monthly</option>
											<option value="Default_Date"
												th:selected="${product.emiFrequency == 'Default_Date'}">Default Date
											</option>
											<option value="User_Defined"
												th:selected="${product.emiFrequency == 'User_Defined'}">User Defined
											</option>

										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Default Start Date (if EMI
										Frequency is Default_Date)</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.defaultDate}" class="form-control"
											id="input39" placeholder="Enter..." name="defaultDate" required>
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Min Amount</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.minAmount}" class="form-control"
											id="input39" placeholder="Enter..." name="minAmount" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Max Amount</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.maxAmount}" class="form-control"
											id="input39" placeholder="Enter..." name="maxAmount" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Late Fee Charge</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.lateFeeCharge}" class="form-control"
											id="input39" placeholder="Enter..." name="lateFeeCharge"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Min. Interest Rate</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.minInterestRate}" class="form-control"
											required id="input39" placeholder="Enter..." name="minInterestRate">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Max. Interest Rate</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.maxInterestRate}" class="form-control"
											required id="input39" placeholder="Enter..." name="maxInterestRate">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Default Interest Rate</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.defaultInterestRate}"
											class="form-control" required id="input39" placeholder="Enter..."
											name="defaultInterestRate">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Min Tenure</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.minTenure}" class="form-control" required
											id="input39" placeholder="Enter..." name="minTenure"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Max Tenure</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.maxTenure}" class="form-control" required
											id="input39" placeholder="Enter..." name="maxTenure"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>


								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">
										Processing Fee (inc. GST)</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.processingFee}" class="form-control"
											id="input39" placeholder="Enter..." name="processingFee" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Insurance Charges (inc. GST)

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.insuranceCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="insuranceCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Overdue Interest

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.overdueInterest}" class="form-control"
											id="input39" placeholder="Enter..." name="overdueInterest" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Penal Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.penalCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="penalCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Bounce Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.bounceCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="bounceCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">PDC/NACH Swap Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.swapCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="swapCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>

								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Full / Part Prepayment Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.perPaymentCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="perPaymentCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>



								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Duplicate Statement Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.statementCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="statementCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">EMI Follow up Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.emiFollowupCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="emiFollowupCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Stamp Duty Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.stampDuty}" class="form-control"
											id="input39" placeholder="Enter..." name="stampDuty" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Other Charges

									</label>
									<div class="col-sm-9">
										<input type="text" th:value="${product.otherCharges}" class="form-control"
											id="input39" placeholder="Enter..." name="otherCharges" required
											onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">Status</label>
									<div class="col-sm-9">
										<select class="form-select" id="input40" name="status" required>
											<option disabled value="">Select</option>
											<option value="Active" th:selected="${product.status == 'Active'}">Active
											</option>
											<option value="Inactive" th:selected="${product.status == 'Inactive'}">
												Inactive</option>
										</select>

									</div>
								</div>
								<div class="row mb-3">
									<label for="input35" class="col-sm-3 col-form-label">KFS</label>
									<div class="col-sm-9">
										<select class="form-select" id="input40" name="kfs" required>
											<option disabled value="">Select</option>
											<option value="KFS 1" th:selected="${product.kfs == 'KFS 1'}">KFS 1</option>
											<option value="KFS 2" th:selected="${product.kfs == 'KFS 2'}">KFS 2</option>
											<option value="KFS 3" th:selected="${product.kfs == 'KFS 3'}">KFS 3</option>
										</select>

									</div>
								</div>

								<div class="row mb-3">
									<label for="input39" class="col-sm-3 col-form-label">API Flow</label>
									<div class="col-sm-9">
										<select class="form-select" id="input40" name="apiFlow" required>
											<option disabled value="">Select</option>
											<option value="Version 1" th:selected="${product.apiFlow == 'Version 1'}">
												Version 1</option>
											<option value="Version 2" th:selected="${product.apiFlow == 'Version 2'}">
												Version 2</option>
											<option value="Version 3" th:selected="${product.apiFlow == 'Version 3'}">
												Version 3</option>
										</select>

									</div>
								</div>

								<div class="row mb-3">
									<label for="input39" class="col-sm-3 col-form-label">Extra Fields</label>
									<div class="col-sm-9">
										<select class="form-select" id="input40" name="extraFields" required>
											<option disabled value="">Select</option>
											<option value="Active" th:selected="${product.extraFields == 'Active'}">
												Active</option>
											<option value="InActive" th:selected="${product.extraFields == 'InActive'}">
												InActive</option>
										</select>

									</div>
								</div>
								<div class="row">
									<label class="col-sm-3 col-form-label"></label>
									<div class="col-sm-9">
										<div class="d-md-flex d-grid align-items-center gap-3">
											<button type="submit"
												class="btn btn-grd btn-grd-primary px-5">Update</button>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div><!-- end row -->


		</div>
	</main>
</body>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<!--plugins-->
<script src="assets/js/jquery.min.js"></script>
<!--plugins-->
<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="assets/plugins/metismenu/metisMenu.min.js"></script>
<script src="assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
<script>
	$(document).ready(function () {
		$('#example').DataTable();
	});
</script>
<script>
	$(document).ready(function () {
		var table = $('#example2').DataTable({
			lengthChange: false,
			buttons: ['copy', 'excel', 'pdf', 'print']
		});

		table.buttons().container()
			.appendTo('#example2_wrapper .col-md-6:eq(0)');
	});
</script>
<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="assets/js/main.js"></script>

</html>